<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<nav th:fragment="navbarFragment">
    <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
		<div class="bs-example bs-example-tabs right-sidebar-tab-notification"
			data-example-id="togglable-tabs">

			<div id="w3lDemoBar" class="w3l-demo-bar">
				<div class="demo-btns">
					<a href=""> <span class="w3l-icon -back"> <span
							class="fa fa-arrow-left"></span>
					</span> <span class="w3l-text">공지사항</span>
					</a> <a href=""> <span class="w3l-icon -download"> <span
							class="fa fa-download"></span>
					</span> <span class="w3l-text">게시판</span>
					</a> <a href="" class="no-margin-bottom-mobile"> <span
						class="w3l-icon -buy"> <span class="fa fa-shopping-cart"></span>
					</span> <span class="w3l-text">사이트맵</span>
					</a>
				</div>
			</div>
			<div class="right-sidebar-panel-content animated fadeInRight"
				tabindex="5003" style="overflow: hidden; outline: none;"></div>
		</div>
	</div>
</nav>

	

	