<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="footerFragment">
			<div style="height: 15px; padding-top: 57px; margin:0px 0px 0px 0px; display: inline-block;" class="imgg">
						</div>
		<footer class="py-5 " style="background-color: rgb(83, 83, 83);">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
				<p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
			</div>
		</footer>
		<!-- Bootstrap core JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
			<!-- Core theme JS -->
		<script src="../static/scripts.js"></script>
		<div style="height: 30px; padding-top: 57px; margin:0px 0px 0px 0px; display: inline-block;" class="imgg">
						</div>
	</th:block>
</html>
